# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
dist
build
*.tsbuildinfo

# IDE
.vscode
.idea

# Environment
.env
.env.*

# Docker
Dockerfile
.dockerignore

# Tests
coverage
*.test.ts
*.spec.ts

# Misc
.DS_Store
*.log
*.swp
*.bak