name = "chronicle-sync-dashboard"
main = "worker/dashboard.js"
compatibility_date = "2024-01-05"
pages_build_output_dir = "dist/dashboard"

[env.staging]
name = "chronicle-sync-dashboard-staging"
route = "api.staging.chroniclesync.xyz/*"

[env.production]
name = "chronicle-sync-dashboard"
route = "api.chroniclesync.xyz/*"

[[d1_databases]]
binding = "DB"
database_name = "chronicle-sync"
database_id = "$PROD_DB_ID"