# Latest Test Results

Last updated: Sun Jan 5 15:18:37 UTC 2025

## Test Screenshots

### setup-flow

#### 2025-01-05T15-18-35-222Z_initial-popup

![2025-01-05T15-18-35-222Z_initial-popup](screenshots/setup-flow/2025-01-05T15-18-35-222Z_initial-popup.png)

#### 2025-01-05T15-18-36-342Z_setup-form

![2025-01-05T15-18-36-342Z_setup-form](screenshots/setup-flow/2025-01-05T15-18-36-342Z_setup-form.png)

#### 2025-01-05T15-18-37-074Z_setup-success

![2025-01-05T15-18-37-074Z_setup-success](screenshots/setup-flow/2025-01-05T15-18-37-074Z_setup-success.png)
